<!DOCTYPE html>
<html lang="en" class="layout--basic page--round_detail hasjs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/vendor.css"/>
    <link rel="stylesheet" href="/css/general.css"/>
    <title>View a match - Greedy Snake Lab</title>
</head>
<body>
<nav class="nav">
    <div class="row">
        <div class="column nav__container">
            <ol class="nav__container-item">
                <li>
                    <a href="/" class="nav__logo">GreedySnakeJudge</a>
                </li>
                <li>
                    <a href="/" class="nav__item">Scoreboard</a>
                </li>
                <li>
                    <a href="/submission" class="nav__item">Submission</a>
                </li>
                <li>
                    <a href="/match" class="nav__item active">Match</a>
                </li>
                <li>
                    <a href="/rules" class="nav__item">Rules</a>
                </li>
            </ol>
            <ol class="nav__container-item">
                <li id="signin">
                    <a href="/oauth/login" class="nav__item">Loading...</a>
                </li>
            </ol>
        </div>
    </div>
</nav>
<div class="slideout-panel" id="panel">
    <div class="main">
        <div class="row">
            <div class="columns">
                <div class="section">
                    <div class="section__header">
                        <h1 class="section__title">
                            <span class="icon icon-warning text-red"></span>
                            Version 1.2.2
                        </h1>
                    </div>
                    <div class="section__body">
                        <p>Happy VG101 Lab8!</p>
                        <p>- Version 1.1.0 Added compile error display</p>
                        <p>- Version 1.2.0 Modified gaming mechanism and update rule page</p>
                        <p>- Version 1.2.2 Added filter for match and match display controls, hide non-submission
                            players from scoreboard</p>
                    </div>
                </div>
                <div class="section">
                    <div class="section__header">
                        <h1 class="section__title">Game between {{user1}} and {{user2}}</h1>
                    </div>
                    <div class="section__body">
                        <ol class="supplementary dot list">
                            <li><span class="round-status--text win">{{if winner != 0}}
              <span class="icon round-status--icon win"></span>
              Win
              :
                {{if winner == 1}}
                {{user1}}
                {{else}}
                {{user2}}
                {{/if}}
              <div class="field-icon field--{{if winner == 1}}black{{else}}white{{/if}}"></div>
            </span>
                            </li>
                            <li><span class="round-status--text lose">
              <span class="icon round-status--icon lose"></span>
              Lose
              :
                {{if winner == 2}}
                {{user1}}
                {{else}}
                {{user2}}
                {{/if}}
              <div class="field-icon field--{{if winner == 2}}black{{else}}white{{/if}}"></div>
            </span>
                            </li>
                        </ol>{{else}}
                        <ol class="supplementary dot list">
                            <li><span class="round-status--text draw">
              <span class="icon round-status--icon draw"></span>
              Draw
              :
                {{user1}}
              <div class="field-icon field--black"></div>
            </span>
                            </li>
                            <li><span class="round-status--text draw">
              <span class="icon round-status--icon draw"></span>
              Draw
              :
                {{user2}}
              <div class="field-icon field--white"></div>
            </span>
                            </li>
                        </ol>{{/if}}
                    </div>
                    <div class="section__body">Exit caused by: {{exit}}
                    </div>
                    <div class="section__body" name="step-toolbar" layout="row center-left" style="">
                        <div>
                            <button class="button" name="step-pause">Pause</button>
                        </div>
                        <div class="separator"></div>
                        <div>Speed:</div>
                        <div><input type="number" class="textbox" name="step-speed" value="20"></div>
                        <div> Frame / Second</div>
                        <div>
                            <button class="primary button" name="step-go">Apply</button>
                        </div>
                    </div>
                    <div class="section__body round">
                        <a class="text-challenger">{{user1}}: <span id="user1op"></span></a>
                        <a class="text-opponent">{{user2}}: <span id="user2op"></span></a>
                    </div>
                    <div class="section__body">
                        <div class="board-container">
                            <table class="board-table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>
<script src="/js/jQuery.js"></script>
<script src="/general.js"></script>
<script src="/match/greedySnake.js">
</script>
<script>
    prepare(document, $, "{{matchId}}")();
</script>
</body>
</html>